body{
  background-image:url(public/img/dKAWxY.png);
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
}

#innerHTMLFUN{
  color:white;
}

#head{
  color:white;
}

#target{
  color:white;
}
      
.frame {
  display:inline-block;
  height:17rem;
  width:21.8rem;
  background-color:lightblue;
  overflow:hidden;
  position:relative;
  border:1rem solid white;
  box-shadow:inset .25rem 1rem 2rem rgba(0, 0, 0, 0);
  margin:1rem; 
}

.frame.f1{
  background:url(public/img/background.png) no-repeat;
  background-size:175%;
  background-position:-50px -20px;
  z-index:-1;
}

.frame.f2{
  background:url(public/img/background.png) no-repeat;
  background-size:210%;
  background-position:-175px -75px;
  z-index:-1;
}

.frame.f3{
  background:url(public/img/portal.png) no-repeat;
  background-size:125%;
  background-position:-30px -20px;
}

.frame.f4{
  left:17%;
  color:white;
  background:url(public/img/nether.png) no-repeat;
  background-size:130%;
  background-position-x:50%;
}

.frame.f5{
  right:-17%;
  background-color:black;
}

.talk{
  color:black;
  position:absolute;
  background:url(public/img/speak.png) no-repeat;
  background-size:50% 30%;
  width:8em;
  height:8em;
  padding:2em;
}

#placers{
  display:none;
}

.chr{
  position:absolute;
  bottom:0;
  display:block;
  padding:1rem;
  background-color:rgba(255, 150, 200, .25);
}

.frame.f1 .chr.mainchar{
  left:-5%;
  bottom:2%;
  height:80%;
  width:40%;
  background:url(public/img/mainchar.png) no-repeat;
  background-size:100%;
}

.frame.f1 .chr.mainchar .talk{
  left:67%;
  bottom:28%;
  background-size:80% 30%;
  background-position:20% 10%;
}

.chr.rival{
  height:80%;
  width:40%;
  right:2.5%;
  background:url(public/img/rival.png) no-repeat;
  background-size:110%;
  background-position-x:25%;
  bottom:-2%;
}

.chr.rival .talk{
  right:5%;
  bottom:12%;
  background:url(public/img/speakflipoed.png) no-repeat;
  background-size:55% 20%;
  background-position:25% 15%;
}

.chr.flintandsteel{
  left:50%;
  background: url(public/img/R.png) no-repeat;
  background-position: -2.5px -1px;
  background-size:55px;
  height:20px;
  width:20px;
  margin:0 0 0 -20px;
  animation-name:floatingitem;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}
.chr.flintandsteel .talk{
  color:transparent;
  background:none;
}
.chr.deadguy{
  background-color:transparent;
  background-image:url(public/img/deadguy.png);
  background-position:45% 50%;
  background-size:110%;
  height:20%;
  width:45%;
  left:30%;
  bottom:5%;
  margin:0 0 0 -5%;
  z-index:-1;
}
.chr.deadguy .talk{
  color:transparent;
  background:none;
}

.frame.f2 .chr.mainchar{
  height:16rem;
  width:11rem;
  background:url(public/img/pearlthrow.png) no-repeat;
  background-size:100%;
  background-position:-10px -30px;
  animation-name:throw;
  animation-duration:3s;
  animation-iteration-count:infinite;
}
.frame.f2 .chr.mainchar .talk{
  left:90%;
  bottom:30%;
  background-size:75% 30%;
  background-position:25% 11%;
  z-index:1;
  animation-name:speech;
  animation-duration:3s;
  animation-iteration-count:infinite;
}
.chr.AnEnderPearl{
  background:url(public/img/Ender_Pearl_JE3_BE2.png) no-repeat;
  background-size:55px;
  height:20px;
  width:20px;
}
.chr.AnEnderPearl .talk{
  color:transparent;
  background:none;
}
.frame.f2 .chr.AnEnderPearl{
  right:20%;
  bottom:30%;
  margin:0 0 0 61%;
  animation-name:pearl;
  animation-duration:3s;
  animation-iteration-count:infinite;
}
.frame.f2 .chr.rival{
    background:url(public/img/deadrival.png) no-repeat;
    background-size:110%;
    height:100%;
    width:50%;
    z-index:-1;
    animation-name:dead;
    animation-duration:3s;
    animation-iteration-count:infinite;
}
.frame.f2 .chr.rival .talk{
  color:transparent;
  background:none;
}

.frame.f3 .chr.AnEnderPearl{
  bottom:60%;
  animation-name:fall;
  animation-duration:2s;
  animation-iteration-count:infinite;
  background-size:45px;
  height:10px;
  width:10px;
}
.frame.f3 .chr.mainchar{
  left:22%;
  bottom:10%;
  width:8rem;
  height:12rem;
  background:url(public/img/portalrun.png) no-repeat;
  background-size:100%;
  animation-name:portalrun;
  animation-duration:2s;
  animation-iteration-count:infinite;
}
.frame.f3 .chr.mainchar .talk{
  color:transparent;
  background:none;
}

.chr.nether{
  left:15%;
  height:13rem;
  width:13rem;
  bottom:-10px;
  margin:0 0 0 3px;
  background:url(public/img/giveup.png) no-repeat;
  background-size:140%;
  background-position-x:55%;
}
.chr.nether .talk{
  bottom:50%;
  right:-90px;
  width:10em;
  background-size:90% 75px;
  background-position:-5px 25px;
}

.chr.theEnd{
  left:50%;
  bottom:50%;
  background-color:black;
  margin:0 0 -10px -10px;
}
.chr.theEnd .talk{
  color:white;
  font-size:2rem;
  left:-3.25em;
  bottom:-2em;
  height:1.15em;
  background:none;
}

@keyframes floatingitem{
  0%{bottom:13%;}
  100%{bottom:10%;}
}

@keyframes dead{
  0%{transform:rotate(0deg); right: 2.5%; bottom: -2.5%;}
  25%{transform:rotate(90deg); right:-45%; bottom: -50%;}
  100%{transform:rotate(90deg); right:-45%; bottom: -50%;}
}
@keyframes throw{
  0%{transform:rotate(50deg); left:22%; bottom:-20%}
  25%{transform:rotate(0deg); left:10%; bottom:-10%;}
  85%{transform:rotate(-10deg); left:0; bottom:-10%;}
  95%{transform:rotate(50deg); left:22%; bottom:-15%;}
  100%{transform:rotate(50deg); left:22%; bottom:-15%;}
}
@keyframes speech{
  0%{transform:rotate(-50deg); left:30%; bottom:80%;}
  25%{transform:rotate(0deg); left:70%; bottom:35%;}
  85%{transform:rotate(10deg); left:70%; bottom:27%;}
  95%{transform:rotate(-50deg); left:30%; bottom:75%;}
  100%{transform:rotate(-50deg); left:30%; bottom:75%;}
}
@keyframes pearl{
  0%{left:15%; bottom:-20%}
  25%{left:-50%; bottom:80%;}
  85%{left:-70%; bottom:85%;}
  95%{left:22%; bottom:100%;}
  100%{left:22%; bottom:100%;}
}

@keyframes fall{
  0%{left:-10%; bottom:80%; background-image:url(public/img/Ender_Pearl_JE3_BE2.png) no-repeat;}
  50%{left:20%; bottom:0%;}
  95%{background-image:none;}
  100%{left:20%; bottom:0%; background-image:none;}
}
@keyframes portalrun{
  0%{left:5%; bottom:0;background:none;}
  0.5%{background:url(public/img/portalrun.png) no-repeat;}
  20%{left:5%; bottom:0;}
  100%{left:55%; bottom:10%;}
}